<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li style="padding: 10px 0 0;">
                <a href="#" class="waves-effect"><i class="fa fa-asterisk fa-fw" aria-hidden="true"></i><span class="hide-menu">Página Inicial</span></a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Usuários</span></a>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="fa fa-smile-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Pacientes</span></a>
            </li>
        </ul>
    </div>
</div>