<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="/plugins/images/favicon.png">
    <title>Adicionar Paciente</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></a>
                <div class="top-left-part"><a class="logo" href="index.html"><b><img src="/plugins/images/pixeladmin-logo.png" alt="home" /></b><span class="hidden-xs"><img src="/plugins/images/pixeladmin-text.png" alt="home" /></span></a></div>
               
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <a class="profile-pic" href="#"> <img src="/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs">Steave</b> </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="profile.html" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">Profile</span></a>
                    </li>
                    <li>
                        <a href="basic-table.html" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">Basic Table</span></a>
                    </li>
                    <li>
                        <a href="fontawesome.html" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i><span class="hide-menu">Icons</span></a>
                    </li>
                    <li>
                        <a href="map-google.html" class="waves-effect"><i class="fa fa-globe fa-fw" aria-hidden="true"></i><span class="hide-menu">Google Map</span></a>
                    </li>
                    <li>
                        <a href="blank.html" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><span class="hide-menu">Blank Page</span></a>
                    </li>
                    <li>
                        <a href="404.html" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><span class="hide-menu">Error 404</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Adicionar Paciente</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Página Inicial</a></li>
                            <li class="active">Adicionar Paciente</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" action="" method="POST">

                                <hr>
                                <h3>Dados do Paciente</h3> 
                                <hr>

                                <div class="form-group">
                                    <label class="col-md-12">Nome Completo</label>
                                    <div class="col-md-12">
                                        <input type="text" name="fullName" placeholder="Nome do Paciente" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Nome da Mãe</label>
                                    <div class="col-md-12">
                                        <input type="text" name="mothersName" placeholder="Nome da Mãe do Paciente" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Data de Nascimento</label>
                                    <div class="col-md-3">
                                        <input type="text" name="birthDate" max-lenght="8" data-mask="00/00/0000" placeholder="Data de Nascimento do Paciente" class="form-control form-control-line"> </div>
                                    <label class="col-sm-3">Gênero</label>
                                    <div class="col-sm-3">
                                        <select name="gender" class="form-control form-control-line">
                                            <option value="Masculino">Masculino</option>
                                            <option value="Feminino">Feminino</option>
                                            <option value="Outro">Prefiro não informar</option>
                                        </select>
                                    </div>
                                </div>

                                <hr>
                                <h3>Endereço</h3> 
                                <hr>
                                <div class="form-group">
                                    <label class="col-md-3">CEP</label>
                                    <div class="col-md-3">
                                        <input type="text" name="postalCode" data-mask="00.000-000" placeholder="CEP" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Rua</label>
                                    <div class="col-md-6">
                                        <input type="text" name="streetName" placeholder="Rua, Avenida, Travessa" class="form-control form-control-line"> </div>
                                        <label class="col-md-1">Número</label>
                                    <div class="col-md-2">
                                        <input type="text" name="houseNumber" placeholder="Número" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Complemento</label>
                                    <div class="col-md-3">
                                        <input type="text" name="complement" placeholder="Complemento" class="form-control form-control-line"> </div>
                                        <label class="col-md-3">Bairro</label>
                                    <div class="col-md-3">
                                        <input type="text" name="district" placeholder="Bairro" class="form-control form-control-line"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3">Cidade</label>
                                    <div class="col-md-3">
                                        <input type="text" name="city" placeholder="Cidade" class="form-control form-control-line"> </div>
                                        <label class="col-md-3">UF</label>
                                    <div class="col-md-3">
                                        <input type="text" name="state" placeholder="Ex.: AM, AC..." class="form-control form-control-line"> </div>
                                </div>


                                <hr>
                                <h3>Contato</h3> 
                                <hr>

                                <div class="form-group">
                                    <label class="col-md-3">Telefone</label>
                                    <div class="col-md-3">
                                        <input type="text" data-mask="(00) 00000-0000" max-lenght="11" name="phone" placeholder="(00) 00000-0000" class="form-control form-control-line"> </div>
                                    <label class="col-md-3">Telefone de Emergência</label>
                                    <div class="col-md-3">
                                        <input type="text" data-mask="(00) 00000-0000" max-lenght="11" name="emergencyPhone" placeholder="(00) 00000-0000" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Mora com</label>
                                    <div class="col-md-12">
                                        <input type="text" name="liveWith" placeholder="Nome do Responsável" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success pull-right" type="submit">Adicionar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Pixel Admin brought to you by wrappixel.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- Mask Field -->
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
</body>

</html>
